{
  "openapi": "3.0.4",
  "info": {
    "title": "lemlist API",
    "description": "Welcome to the lemlist Developer Documentation.\n\nlemlist is very customizable and open. You\u0027ll find on this page all the API and integration you can do with lemlist.\n\n# Rate Limit\n\nlemlist\u0027s API rate limits requests in order to prevent abuse and overload of our services.  \nRate limits are applied on all routes and per API key performing the request.  \nThe rate limits are **20** requests per **2** seconds.  \nThe response provides any information you may need about it:\n\n| Header | Description |\n| --- | --- |\n| Retry-After | The number of seconds in which you can retry |\n| X-RateLimit-Limit | The maximum requests in that time |\n| X-RateLimit-Remaining | The number of remaining requests you can make |\n| X-RateLimit-Reset | The date when the rate limit will reset |\n\n_Example of values for the rate limit headers_\n\n\u0060\u0060\u0060 json\n{\n    \u0022Retry-After\u0022: 2,\n    \u0022X-RateLimit-Limit\u0022: 20,\n    \u0022X-RateLimit-Remaining\u0022: 7,\n    \u0022X-RateLimit-Reset\u0022 : \u0022Tue Feb 16 2021 09:02:42 GMT\u002B0100 (Central European Standard Time)\u0022\n}\n\n \u0060\u0060\u0060\n\n# Definitions\n\n## Team\n\nA team is the entity of lemlist that can handle users and billing.\n\n## Credits\n\nCredits are the coins a team uses to enrich emails, LinkedIn URLs, etc. via the enrich route. Each enrichment feature needs a certain amount of credits to run.\n\n## User\n\nYou use a user account to connect to lemlist and send messages via the connected emails or LinkedIn account.\n\n## Campaign\n\nA campaign is the entity to automate outreach. A campaign has multiple sequences composed of steps.\n\n## Lead\n\nA lead is a person that you try to contact via a campaign.\n\n## Activity\n\nAn activity is the history of all the steps.\n\n## Unsubscribe\n\nAn unsubscribe occurs when a person decides they don\u0027t want to receive emails from you anymore.\n\n# Authentication\n\nAll API routes use the dedicated subdomain \u0060api.lemlist.com\u0060.\n\nlemlist uses API keys to allow access to the API. You can get your lemlist API key at our [integration page](https://app.lemlist.com/settings/integrations).\n\nYou need to add the \u0060Authorization\u0060 header using the \u0060Basic\u0060 authentication type. \u0060login:password\u0060 **where the login is always empty and the password is the API key**.\n\n\u26A0\uFE0F **Don\u0027t forget to add the semicolon (**\u0060:\u0060**) before your API key in curl command.**\n\n\u003E To authorize, use this code: \n  \n\n\u0060\u0060\u0060 shell\ncurl https://api.lemlist.com/api/team \\\n  --user \u0022:YourApiKey\u0022\n\n \u0060\u0060\u0060\n\n**Make sure to replace** **\u0060YourApiKey\u0060** **with your API key.**\n\n# Give feedback\n\nIf you want to report a bug, ask for data, or share with us a use case, please fill this [form](https://lemlist.typeform.com/to/mfVlkyGf). It will help us centralize your needs!",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lemlist.com/api"
    }
  ],
  "paths": {
    "/team": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "Get Team",
        "operationId": "GetTeam",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Set to \u0060v2\u0060 to include the \u0060users\u0060 array, listing each team member\u0027s \u0060userId\u0060, \u0060name\u0060, \u0060email\u0060, and \u0060role\u0060. This lets you retrieve the team and its members in a single request.",
            "schema": {
              "$ref": "#/components/schemas/V2Version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                },
                "example": {
                  "_id": "tea_b4rMsi2trBhahaha",
                  "name": "lemlist",
                  "userIds": [
                    "usr_4YGm9ez7gMdyhahaha",
                    "usr_5GdFEgSLCN4hahaha",
                    "usr_F7iPChEQ3phahaha"
                  ],
                  "createdBy": "usr_4YGm9ez7gMdyhahaha",
                  "createdAt": "2018-02-22T08:52:30.926Z",
                  "hooks": [
                    {
                      "_id": "hoo_Ib5jfViX9hn3FzNqr",
                      "targetUrl": "https://hooks.zapier.com/hooks/standard/946357/*some-id*/",
                      "createdAt": "2018-06-05T09:07:07.761Z",
                      "zapId": 123456789,
                      "type": "emailsReplied",
                      "campaignId": "cam_TgyErJghahaha",
                      "isFirst": true
                    },
                    {
                      "_id": "hoo_SDRr2w4JigZDL7OB2",
                      "targetUrl": "https://hooks.zapier.com/hooks/standard/5078320/*some-other-id*/",
                      "createdAt": "2019-06-05T14:38:56.535Z",
                      "zapId": 987654321,
                      "type": "emailsReplied",
                      "campaignId": "cam_J2M3P9Z8whahaha"
                    },
                    {
                      "_id": "hoo_IYAPP4HnSyU7UTH3E",
                      "targetUrl": "https://hooks.zapier.com/hooks/standard/5078320/*some-id*/",
                      "createdAt": "2019-06-05T15:49:36.624Z",
                      "zapId": 59831776,
                      "type": "emailsReplied",
                      "campaignId": "cam_qBNYaIFXA77eXM1Ey",
                      "isFirst": true
                    },
                    {
                      "_id": "hoo_UAtwcPAd0tK9U6hKG",
                      "targetUrl": "https://subdomain.pipedream.net",
                      "createdAt": "2022-02-10T16:45:28.216Z",
                      "campaignId": "cam_7BE8IZRaqahU44Wp6"
                    }
                  ],
                  "slackWebhook": {
                    "url": "https://hooks.slack.com/services/T123456789/B123456789/*some-id*",
                    "failCounter": 1
                  },
                  "beta": [
                    "outreachQueue",
                    "crmSyncApiSalesforce",
                    "voipWhitelist",
                    "lemrich_postLemrichKafka",
                    "computedFieldActiveCampaigns"
                  ],
                  "pictureId": "fil_vRhMy09kT1Rv4Kq4O.png",
                  "invitedUsers": [
                    {
                      "email": "support@lemlist.com",
                      "role": "member",
                      "invitedBy": "usr_w7XoMXW37hahaha",
                      "invitedAt": "2023-03-04T20:06:29.585Z"
                    },
                    {
                      "email": "taylor@example.com",
                      "role": "admin",
                      "invitedBy": "usr_Hq4uzGvFP5q6homd",
                      "invitedAt": "2024-09-13T12:39:55.984Z"
                    }
                  ],
                  "agency": "usr_4YGm9ez7gMd2123456",
                  "customDomain": "custom.domain.com",
                  "users": [
                    {
                      "userId": "usr_4YGm9ez7gMdyhahaha",
                      "name": "John Doe",
                      "email": "john@lemlist.com",
                      "role": "admin"
                    },
                    {
                      "userId": "usr_5GdFEgSLCN4hahaha",
                      "name": "Jane Doe",
                      "email": "jane@lemlist.com",
                      "role": "member"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Possible errors: No API key provided / Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "No API key provided"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          },
          "403": {
            "description": "User linked to this API key is blocked",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "User linked to this API key is blocked"
              }
            }
          },
          "404": {
            "description": "No user found for this API key",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "No user found for this API key"
              }
            }
          }
        }
      }
    },
    "/team/senders": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "Get Team Senders",
        "operationId": "GetTeamSenders",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "Filter by campaign\u0027s state (running, paused, draft, ended, archived, errors)",
            "schema": {
              "$ref": "#/components/schemas/GetTeamSendersStateParameter"
            },
            "example": "running"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTeamSenders200ResponseSchema"
                },
                "example": [
                  {
                    "userId": "usr_QB6kKK1wv68DujOET",
                    "campaigns": [
                      {
                        "_id": "cam_tBpHORyt3WhTQoi5A",
                        "name": "Onboarding",
                        "status": "paused",
                        "sendingChannels": [
                          "email",
                          "manual",
                          "linkedinVisit"
                        ]
                      },
                      {
                        "_id": "cam_O3BQOaXuyUuyqEHug",
                        "name": "Community Launch",
                        "status": "running",
                        "sendingChannels": [
                          "email",
                          "manual",
                          "linkedinVisit"
                        ]
                      },
                      {
                        "_id": "cam_NTJ1rituEQ61jVl6p",
                        "name": "Email Warmup Test",
                        "status": "ended",
                        "sendingChannels": [
                          "email",
                          "manual",
                          "linkedinVisit"
                        ]
                      },
                      {
                        "_id": "cam_1kESsVXFMzfrJImNc",
                        "name": "Product Launch Campaign",
                        "status": "draft",
                        "sendingChannels": [
                          "email",
                          "manual",
                          "linkedinVisit"
                        ]
                      }
                    ]
                  },
                  {
                    "userId": "usr_v5xz8De4nsLeNWAfv",
                    "campaigns": [
                      {
                        "_id": "cam_fDwCRnYtL1cfwcA7k",
                        "name": "WhatsApp Outreach",
                        "status": "draft",
                        "sendingChannels": [
                          "email",
                          "whatsappMessage"
                        ]
                      },
                      {
                        "_id": "cam_WBCWNrsoMKkCWWLqw",
                        "name": "WhatsApp Test Campaign",
                        "status": "ended",
                        "sendingChannels": [
                          "email",
                          "whatsappMessage"
                        ]
                      }
                    ]
                  },
                  {
                    "userId": "usr_rhhX1KT0qgOGCOrgE",
                    "campaigns": [
                      {
                        "_id": "cam_pCi08vhGoho2oK3YR",
                        "name": "Networking",
                        "status": "running",
                        "sendingChannels": [
                          "email",
                          "linkedinSend",
                          "linkedinVisit",
                          "linkedinInvite"
                        ]
                      },
                      {
                        "_id": "cam_zhcBovstiHVaV1abf",
                        "name": "Product Tools Campaign",
                        "status": "paused",
                        "sendingChannels": [
                          "email",
                          "linkedinSend",
                          "linkedinVisit",
                          "linkedinInvite"
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad params (invalid state parameter)",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad params (invalid state parameter)"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          },
          "405": {
            "description": "Method not allowed"
          }
        }
      }
    },
    "/team/credits": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "Get Team Credits",
        "operationId": "GetTeamCredits",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credits"
                },
                "example": {
                  "credits": 100,
                  "details": {
                    "remaining": {
                      "total": 100,
                      "freemium": 0,
                      "subscription": 80,
                      "gifted": 10,
                      "paid": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No API key provided",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "No API key provided"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          },
          "403": {
            "description": "User linked to this API key is blocked",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "User linked to this API key is blocked"
              }
            }
          },
          "404": {
            "description": "No user found for this API key",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "No user found for this API key"
              }
            }
          },
          "405": {
            "description": "Method not allowed"
          }
        }
      }
    },
    "/team/crmUsers": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "Get Team CRM Users",
        "operationId": "GetTeamCrmUsers",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTeamCrmUsers200ResponseSchema"
                },
                "example": [
                  {
                    "userId": "usr_FU6yAd3UdBFel0UDy",
                    "crm": "salesforce"
                  },
                  {
                    "userId": "usr_FU6yAd3UdBFel0UDy",
                    "crm": "hubspot"
                  },
                  {
                    "userId": "usr_FU6yAd3UdBFel0UDy",
                    "crm": "pipedrive"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Possible errors: Bad team / Endpoint not available",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User",
        "operationId": "GetUsersByUserId",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "example": {
                  "_id": "usr_eSrHPSoL9QVPUOsho",
                  "email": "example@lemlist.co",
                  "role": "admin",
                  "linkedIn": {
                    "linkedinUrl": "https://www.linkedin.com/in/john-doe",
                    "status": true,
                    "inviteLimit": 25,
                    "sendLimit": 33,
                    "visitLimit": 36
                  },
                  "mailboxes": [
                    {
                      "_id": "usm_2mkqJNUjnJQiyVBht",
                      "email": "example@gmail.com",
                      "provider": "google",
                      "status": "ERROR",
                      "lemlist": {
                        "emailLimit": 50
                      },
                      "lemwarm": {
                        "active": false
                      }
                    },
                    {
                      "_id": "usm_gqlN3jKWoGo1Je8El",
                      "email": "example@outlook.com",
                      "status": "ERROR",
                      "lemlist": {
                        "emailLimit": 50
                      },
                      "lemwarm": {
                        "active": false
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Possible errors: Bad team / Endpoint not available",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "userId",
          "in": "path",
          "description": "The unique identifier of the user",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "usr_eSrHPSoL9QVPUOsho"
        }
      ]
    },
    "/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get Many Campaigns",
        "operationId": "GetCampaigns",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from the start. For pagination.",
            "schema": {
              "type": "integer"
            },
            "example": "24"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of campaigns to retrieve. Default: 100. Maximum: 100.",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Set to \u0027v2\u0027 to use the latest version",
            "schema": {
              "$ref": "#/components/schemas/V2Version"
            },
            "example": "v2"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field by which to sort. Currently, only \u0027createdAt\u0027 is supported.",
            "schema": {
              "$ref": "#/components/schemas/CreatedAtSortBy"
            },
            "example": "createdAt"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "The sort direction. Use \u0027desc\u0027 for descending order; any other value (or omission) will sort in ascending order.",
            "schema": {
              "$ref": "#/components/schemas/GetCampaignsSortOrderParameter"
            },
            "example": "desc"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The campaign status. Can be: running, draft, archived, ended, paused, errors. Note: a campaign can be in multiple statuses at one time (e.g., a paused campaign with errors).",
            "schema": {
              "$ref": "#/components/schemas/GetCampaignsStatusParameter"
            },
            "example": "running"
          },
          {
            "name": "createdBy",
            "in": "query",
            "description": "Filter campaigns by creator user ID (usr_xxx format). Only returns campaigns created by the specified user.",
            "schema": {
              "type": "string"
            },
            "example": "usr_QG9E94KvTmC7KWqzs"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaigns200ResponseSchema"
                },
                "example": [
                  {
                    "_id": "cam_4HrZbi8xsez4QlrnL",
                    "name": "Product Launch Campaign",
                    "emoji": "\uD83D\uDE80",
                    "timezone": "Europe/Paris",
                    "labels": [],
                    "createdAt": "2025-02-20T14:45:54.230Z",
                    "createdBy": "usr_zdTCrNFyXblc4mrYK",
                    "status": "running",
                    "hasError": true,
                    "errors": [
                      "Your campaign does not have sender."
                    ]
                  },
                  {
                    "_id": "cam_k3gu2sa4KIfhRK34M",
                    "name": "Sales Outreach 2025",
                    "labels": [],
                    "createdAt": "2025-02-05T09:00:07.541Z",
                    "createdBy": "usr_UEvrOEP0CTAYEoFR4",
                    "status": "running",
                    "hasError": true,
                    "errors": [
                      "One of your sender has no email provider.",
                      "Your campaign have an invalid sender mailbox"
                    ]
                  },
                  {
                    "_id": "cam_HcFmYEhnCI39Pscan",
                    "name": "CRM Integration Test",
                    "labels": [
                      "CRM"
                    ],
                    "createdAt": "2023-01-27T14:58:52.482Z",
                    "createdBy": "usr_i52PiQtbq8SucjVTM",
                    "status": "running",
                    "hasError": true,
                    "errors": [
                      "One of your sender has no email provider.",
                      "Your campaign have an invalid sender mailbox"
                    ]
                  },
                  {
                    "_id": "cam_yZXeC6q3SXs3ha1FI",
                    "name": "Customer Onboarding",
                    "labels": [],
                    "createdAt": "2022-06-14T13:32:57.880Z",
                    "createdBy": "usr_i52PiQtbq8SucjVTM",
                    "status": "running"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "No API key provided",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "No API key provided"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          },
          "403": {
            "description": "User linked to this API key is blocked",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "User linked to this API key is blocked"
              }
            }
          },
          "404": {
            "description": "No user found for this API key",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "No user found for this API key"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create Campaign",
        "operationId": "PostCampaigns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCampaignsRequest"
              },
              "example": {
                "name": "My new campaign",
                "timezone": "America/New_York",
                "autoReview": true,
                "autoReviewConditions": [
                  "deliverable",
                  "risky"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCampaigns200Response"
                },
                "example": {
                  "_id": "cam_kok3I33Sba7mcNIO7",
                  "sequenceId": "seq_ScVmFnlKdP6aVmyZN",
                  "scheduleIds": [
                    "skd_IrCdCoQ0ZUAEeUDwR"
                  ],
                  "teamId": "tea_edrkv2LgUK4Wf4ZzO",
                  "createdBy": "usr_Sy3xIhbEi7auHFv5A",
                  "createdAt": "2025-01-16T13:53:22.726Z",
                  "state": "running",
                  "scannedCount": 0,
                  "reviewedCount": 0,
                  "inSequenceLeadCount": 0,
                  "variableKeys": [],
                  "senders": [],
                  "sendUsers": [],
                  "displayedVariableKeys": [
                    "companyName"
                  ],
                  "emoji": "\uD83D\uDE80",
                  "stopOnEmailReplied": true,
                  "crmOpportunitiesOnTask": true,
                  "unsubscribe": "campaign",
                  "name": "My new campaign",
                  "crm": "hubspot",
                  "crmUserId": "usr_0p9Q8ZyXSTNGpsHOe"
                }
              }
            }
          },
          "400": {
            "description": "No API key provided",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "No API key provided"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          },
          "403": {
            "description": "User linked to this API key is blocked",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "User linked to this API key is blocked"
              }
            }
          },
          "404": {
            "description": "No user found for this API key",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "No user found for this API key"
              }
            }
          }
        }
      }
    },
    "/campaigns/{campaignId}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get Campaign",
        "operationId": "GetCampaignsByCampaignId",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                },
                "example": {
                  "_id": "cam_bSn8EORHQxbWPjHvu",
                  "name": "Product Launch Campaign",
                  "createdAt": "2025-10-27T07:01:04.058Z",
                  "status": "draft",
                  "creator": {
                    "userId": "usr_ahfFktBBHUIxbVG5P",
                    "userEmail": "support@lemlist.com"
                  },
                  "senders": [
                    {
                      "id": "usr_rhhX1KT0qgOGCOrgE",
                      "email": "support@lemlist.com",
                      "sendUserMailboxId": "usm_J7BzS86A1vRMc2AuB"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Campaign not found"
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update Campaign",
        "operationId": "PatchCampaignsByCampaignId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCampaignsByCampaignIdRequest"
              },
              "example": {
                "name": "New campaign name",
                "stopOnEmailReplied": true,
                "stopOnMeetingBooked": true,
                "stopOnLinkClicked": false,
                "leadsPausedByInterest": false,
                "opportunityReplied": true,
                "opportunityClicked": false,
                "autoLeadInterest": true,
                "disableTrackOpen": false,
                "disableTrackClick": false,
                "disableTrackReply": false,
                "disableOutOfOffice": false,
                "sequenceSharing": false,
                "sendUserIds": [
                  "usr_2aBCdEfGHiJkLmNOp",
                  "usr_7xYzAbCdEfGhIjKlM"
                ],
                "autoReview": true,
                "autoReviewConditions": [
                  "deliverable",
                  "risky"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCampaignsByCampaignId200Response"
                },
                "example": {
                  "name": "New campaign name",
                  "stopOnEmailReplied": true,
                  "stopOnMeetingBooked": true,
                  "stopOnLinkClicked": false,
                  "leadsPausedByInterest": false,
                  "opportunityReplied": true,
                  "opportunityClicked": false,
                  "autoLeadInterest": true,
                  "disableTrackOpen": false,
                  "disableTrackClick": false,
                  "disableTrackReply": false,
                  "disableOutOfOffice": false,
                  "sequenceSharing": false,
                  "sendUsers": [
                    {
                      "id": "usr_2aBCdEfGHiJkLmNOp",
                      "mailboxes": [
                        {
                          "sendUserMailboxId": "smb_1aBcDeFgHiJkLmNoP",
                          "email": "john@acme.com"
                        }
                      ],
                      "phoneNumbers": [
                        "\u002B15551234567"
                      ],
                      "whatsappAccountIds": [
                        "wha_3xYzAbCdEfGhIjKlM"
                      ]
                    },
                    {
                      "id": "usr_7xYzAbCdEfGhIjKlM",
                      "mailboxes": [
                        {
                          "sendUserMailboxId": "smb_9zYxWvUtSrQpOnMlK",
                          "email": "jane@acme.com"
                        }
                      ],
                      "phoneNumbers": [],
                      "whatsappAccountIds": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCampaignsByCampaignId400PlainResponseSchema"
                },
                "examples": {
                  "badTeam": {
                    "summary": "Bad team",
                    "value": "Bad team"
                  },
                  "dynamicStrategy": {
                    "summary": "Cannot update senders for dynamic strategy campaigns",
                    "value": "Cannot update senders on campaigns with a dynamic sender strategy (contactOwner, leadImporter, customField)"
                  },
                  "noValidSenders": {
                    "summary": "No valid sender IDs",
                    "value": "None of the provided sender IDs are members of this team"
                  },
                  "noCapableSenders": {
                    "summary": "No senders with required capabilities",
                    "value": "None of the provided senders have the required capabilities for this campaign"
                  },
                  "missingChannels": {
                    "summary": "Campaign channels not covered",
                    "value": "The provided senders do not cover the following campaign channels: linkedin, sms"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Campaign not found"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "campaignId",
          "in": "path",
          "description": "The unique identifier of the campaign",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "cam_A1B2C3D4E5F6G7H8I9"
        }
      ]
    },
    "/campaigns/{campaignId}/pause": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Pause Campaign",
        "operationId": "PostCampaignsByCampaignIdPause",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCampaignsByCampaignIdPause200Response"
                },
                "example": {
                  "_id": "cam_A1B2C3D4E5F6G7H8I9",
                  "state": "paused"
                }
              }
            }
          },
          "400": {
            "description": "Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Campaign not found"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "campaignId",
          "in": "path",
          "description": "The unique identifier of the campaign",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "cam_A1B2C3D4E5F6G7H8I9"
        }
      ]
    },
    "/campaigns/{campaignId}/start": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Start Campaign",
        "operationId": "PostCampaignsByCampaignIdStart",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCampaignsByCampaignIdStart200Response"
                },
                "example": {
                  "_id": "cam_A1B2C3D4E5F6G7H8I9",
                  "state": "running"
                }
              }
            }
          },
          "400": {
            "description": "Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Campaign not found"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "campaignId",
          "in": "path",
          "description": "The unique identifier of the campaign",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "cam_A1B2C3D4E5F6G7H8I9"
        }
      ]
    },
    "/campaigns/{campaignId}/export/start": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Start Campaign Stats Export",
        "description": "Start an asynchronous export of all campaign statistics. The final export result is a CSV file.",
        "operationId": "GetCampaignsByCampaignIdExportStart",
        "responses": {
          "200": {
            "description": "Export started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignsByCampaignIdExportStart200Response"
                },
                "example": {
                  "_id": "axp_Vv6lJOc8NlVVmDud5",
                  "id": "axp_Vv6lJOc8NlVVmDud5",
                  "teamId": "tea_c123fg5h8ijKL9noP",
                  "campaignId": "cam_A1B2C3D4E5F6G7H8I9",
                  "campaignName": "Insights Outreach 2024",
                  "status": "pending",
                  "startedAt": "2024-07-09T13:43:52.124Z",
                  "progressIndex": 0,
                  "progressTime": 1720532632124,
                  "progressLastStepDuration": 0,
                  "progressType": "starting",
                  "progress": 0,
                  "total": 0
                }
              }
            }
          },
          "400": {
            "description": "Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Campaign not found"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "campaignId",
          "in": "path",
          "description": "The unique identifier of the campaign to export",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "cam_A1B2C3D4E5F6G7H8I9"
        }
      ]
    },
    "/campaigns/{campaignId}/export/{exportId}/status": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get Campaign Export Status",
        "description": "Check the status of an asynchronous campaign export.",
        "operationId": "GetCampaignsByCampaignIdExportByExportIdStatus",
        "responses": {
          "200": {
            "description": "Export status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignsByCampaignIdExportByExportIdStatus200Response"
                },
                "examples": {
                  "done": {
                    "summary": "Export completed",
                    "value": {
                      "ok": true,
                      "status": {
                        "_id": "axp_eVuZ9rVr4yYWrnPWA",
                        "id": "axp_eVuZ9rVr4yYWrnPWA",
                        "teamId": "tea_8QvkOiBfPdb2ZRhHi",
                        "campaignId": "cam_lBCWmqEWI399hJZOd",
                        "campaignName": "lemstage",
                        "status": "done",
                        "startedAt": "2025-10-27T07:53:16.267Z",
                        "progressIndex": 6,
                        "progressTime": 1761551597286,
                        "progressLastStepDuration": 0,
                        "progressType": "done",
                        "progress": 0,
                        "total": 0,
                        "fileSize": 23654,
                        "endedAt": "2025-10-27T07:53:17.286Z",
                        "url": "https://api.lemlist.com/api/files/exports/fil_axp_7guBefhehehe.csv"
                      }
                    }
                  },
                  "pending": {
                    "summary": "Export in progress",
                    "value": {
                      "ok": true,
                      "status": {
                        "id": "axp_Vv6lJOc8NlVVmDud5",
                        "teamId": "tea_c123fg5h8ijKL9noP",
                        "campaignId": "cam_A1B2C3D4E5F6G7H8I9",
                        "campaignName": "Insights Outreach 2024",
                        "status": "pending",
                        "startedAt": "2020-01-01T00:00:00.000Z",
                        "progressIndex": 3,
                        "progressTime": 1639138959979,
                        "progressLastStepDuration": 200,
                        "progressType": "processing",
                        "progress": 50,
                        "total": 100
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Campaign or export not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignsByCampaignIdExportByExportIdStatus404Response"
                },
                "examples": {
                  "exportNotFound": {
                    "summary": "Export not found",
                    "value": {
                      "ok": false,
                      "message": "Export with id axp_DIoSPp9YM5EwWdyP0 not found"
                    }
                  },
                  "campaignNotFound": {
                    "summary": "Campaign not found",
                    "value": "Campaign not found"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "campaignId",
          "in": "path",
          "description": "The unique identifier of the campaign that was exported",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "cam_A1B2C3D4E5F6G7H8I9"
        },
        {
          "name": "exportId",
          "in": "path",
          "description": "The unique identifier of the export returned by the /start endpoint",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "axp_Vv6lJOc8NlVVmDud5"
        }
      ]
    },
    "/campaigns/{campaignId}/export/{exportId}/email/{email}": {
      "put": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Set Email for Campaign Export Notification",
        "description": "Set an email address for a given export. When the export is done, an email with the download URL will be sent to the address provided.",
        "operationId": "PutCampaignsByCampaignIdExportByExportIdEmailByEmail",
        "responses": {
          "200": {
            "description": "Email notification set successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutCampaignsByCampaignIdExportByExportIdEmailByEmail200Response"
                },
                "example": {
                  "ok": true,
                  "status": {
                    "_id": "axp_Vv6lJOc8NlVVmDud5",
                    "id": "axp_Vv6lJOc8NlVVmDud5",
                    "teamId": "tea_c123fg5h8ijKL9noP",
                    "campaignId": "cam_A1B2C3D4E5F6G7H8I9",
                    "campaignName": "Insights Outreach 2024",
                    "status": "done",
                    "startedAt": "2024-07-11T09:49:15.278Z",
                    "progressIndex": 6,
                    "progressTime": 1720691355497,
                    "progressLastStepDuration": 0,
                    "progressType": "done",
                    "progress": 0,
                    "total": 0,
                    "fileSize": 654,
                    "endedAt": "2024-07-11T09:49:15.497Z",
                    "url": "https://api.lemlist.com/api/files/exports/fil_axp_Vv6lJOc8NlVVmDud5_insights_outreach_2024.csv",
                    "email": "emily.johnson@example.com"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Campaign or export not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "examples": {
                  "campaignNotFound": {
                    "summary": "Campaign not found",
                    "value": "Campaign not found"
                  },
                  "exportNotFound": {
                    "summary": "Export not found",
                    "value": "Export not found"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "campaignId",
          "in": "path",
          "description": "The unique identifier of the campaign that was exported",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "cam_A1B2C3D4E5F6G7H8I9"
        },
        {
          "name": "exportId",
          "in": "path",
          "description": "The unique identifier of the export returned by the /start endpoint",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "axp_Vv6lJOc8NlVVmDud5"
        },
        {
          "name": "email",
          "in": "path",
          "description": "The email address to send the export URL to when the export is done",
          "required": true,
          "schema": {
            "type": "string",
            "format": "email"
          },
          "example": "emily.johnson@example.com"
        }
      ]
    },
    "/campaigns/{campaignId}/export/leads": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Export Campaign Leads",
        "description": "Export leads from a campaign with filtering options. Returns leads in CSV or JSON format based on their state (e.g., contacted, interested, replied, etc.).",
        "operationId": "GetCampaignsByCampaignIdExportLeads",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "description": "Filter to export only the specified lead\u0027s last states. Use \u0027all\u0027 to export all states. Can be a comma-separated list of states. **Global states**: imported, scanned, skipped, reviewed, contacted, hooked, attracted, warmed, interested, notInterested, emailsBounced, emailsUnsubscribed, failed, meetingBooked, paused. **Detailed states**: emailsSent, emailsOpened, emailsClicked, emailsReplied, emailsInterested, emailsNotInterested, emailsFailed, opportunitiesDone, aircallDone, aircallInterested, aircallNotInterested, apiDone, apiInterested, apiNotInterested, linkedinVisitDone, linkedinVisitFailed, linkedinInviteDone, linkedinInviteAccepted, linkedinInviteFailed, linkedinSent, linkedinOpened, linkedinReplied, linkedinInterested, linkedinNotInterested, linkedinSendFailed, manualInterested, manualNotInterested",
            "schema": {
              "$ref": "#/components/schemas/GetCampaignsByCampaignIdExportLeadsStateParameter"
            },
            "example": "all"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format: \u0027json\u0027 or \u0027csv\u0027. Default is CSV.",
            "schema": {
              "$ref": "#/components/schemas/GetCampaignsByCampaignIdExportLeadsFormatParameter"
            },
            "example": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Leads exported successfully",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "emailStatus,email,firstName,lastName,picture,phone,linkedinUrl,timezone,companyName,companyDomain,icebreaker,Original event page,url extension,event_link_to_send,testFieldToDelete,naissance,lastState,status,_id\n,jeremy@example.com,Jeremy,Smith,,,https://www.linkedin.com/in/jeremysmith,,example.com,,,https://www.example.com/event-registration,?name=Jeremy\u0026email=jeremy@example.com,https://www.example.com/event-registration?name=Jeremy\u0026email=jeremy@example.com,,,linkedinReplied,done,lea_s2cXajAHahdDKmDw8\n,frankie@example.org,Frankie,Johnson,,,https://www.linkedin.com/in/frankiejohnson,,example.org,,,https://www.example.com/event-registration,?name=Frankie\u0026email=frankie@example.org,https://www.example.com/event-registration?name=Frankie\u0026email=frankie@example.org,,,linkedinReplied,done,lea_E8hdds5NryDRXpGJa\n,louiza@example.io,Louiza,Brown,,,https://www.linkedin.com/in/louizabrown,,example.io,,,https://www.example.com/event-registration,?name=Louiza\u0026email=louiza@example.io,https://www.example.com/event-registration?name=Louiza\u0026email=louiza@example.io,,,emailsInterested,interested,lea_tLAI7Fr2gR5hVxAIc\n,benjamin@example.co,Benjamin,Williams,,,https://www.linkedin.com/in/benjaminwilliams,,example.co,,,https://www.example.com/event-registration,?name=Benjamin\u0026email=benjamin@example.co,https://www.example.com/event-registration?name=Benjamin\u0026email=benjamin@example.co,,,emailsUnsubscribed,unsubscribed,lea_oznzWQKKZGXrBdqXb\n,roxanne@example.net,Roxanne,Davis,,,https://www.linkedin.com/in/roxannedavis,,example.net,,,https://www.example.com/event-registration,?name=Roxanne\u0026email=roxanne@example.net,https://www.example.com/event-registration?name=Roxanne\u0026email=roxanne@example.net,,,emailsClicked,done,lea_M22nl3gUwvAiNl6Ks\n,thomas@example.fr,Thomas,Miller,,,https://www.linkedin.com/in/thomasmiller,,example.fr,,,https://www.example.com/event-registration,?name=Thomas\u0026email=thomas@example.fr,https://www.example.com/event-registration?name=Thomas\u0026email=thomas@example.fr,,,emailsSent,done,lea_z3DydraGgNBnLdV7o"
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignsByCampaignIdExportLeads200ResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Campaign not found"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "campaignId",
          "in": "path",
          "description": "The unique identifier of the campaign",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "cam_A1B2C3D4E5F6G7H8I9"
        }
      ]
    },
    "/campaigns/reports": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get Campaign Reports",
        "description": "Retrieve reports for one or multiple campaigns. Returns aggregated statistics and export status for the specified campaigns.",
        "operationId": "GetCampaignsReports",
        "parameters": [
          {
            "name": "campaignIds",
            "in": "query",
            "description": "Comma-separated list of campaign IDs to retrieve reports for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cam_A1B2C3D4E5F6G7H8I9,cam_B2C3D4E5F6G7H8I9J0"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign reports retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignsReports200ResponseSchema"
                },
                "example": [
                  {
                    "_id": "cam_bSn8EORHQxbWPjHvu",
                    "name": "Product Launch Campaign",
                    "creator": "usr_ahfFktBBHUIxbVG5P|user@example.com",
                    "createdAt": "2025-10-27T07:01:04.058Z",
                    "createdBy": "John Smith",
                    "labels": "",
                    "totalCount": 0,
                    "reviewedCount": 0,
                    "inSequenceLeadCount": 0,
                    "state": "running",
                    "status": "draft",
                    "senderNames": "sender@example.com",
                    "sendersUsers": "Jane Doe:sender@example.com",
                    "reviewed": 0,
                    "emailsSent": 0,
                    "emailsOpened": 0,
                    "emailsClicked": 0,
                    "emailsReplied": 0,
                    "emailsInterested": 0,
                    "linkedinSent": 0,
                    "linkedinReplied": 0,
                    "interested": 0,
                    "notInterested": 0
                  },
                  {
                    "_id": "cam_lBCWmqEWI399hJZOd",
                    "name": "Event Outreach Campaign",
                    "creator": "usr_QHeXD2DttUIlvWT9V|admin@example.co",
                    "createdAt": "2022-11-09T16:41:03.538Z",
                    "createdBy": "Sarah Johnson",
                    "labels": "",
                    "totalCount": 0,
                    "reviewedCount": 32,
                    "inSequenceLeadCount": 32,
                    "state": "paused",
                    "status": "ended",
                    "senderNames": "",
                    "sendersUsers": "",
                    "reviewed": 0,
                    "emailsSent": 20,
                    "emailsOpened": 18,
                    "emailsClicked": 4,
                    "emailsReplied": 1,
                    "emailsUnsubscribed": 1,
                    "emailsInterested": 1,
                    "linkedinSent": 32,
                    "linkedinOpened": 15,
                    "linkedinReplied": 15,
                    "interested": 0,
                    "notInterested": 0
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/campaigns/{campaignId}/sequences": {
      "get": {
        "tags": [
          "Sequences"
        ],
        "summary": "Get Campaign Sequences",
        "operationId": "GetCampaignsByCampaignIdSequences",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCampaignsByCampaignIdSequences200ResponseSchema"
                },
                "example": {
                  "seq_rH5RD3fMkkt2gM3YC": {
                    "_id": "seq_rH5RD3fMkkt2gM3YC",
                    "steps": [
                      {
                        "_id": "stp_sFUj6keaSz9wr049M",
                        "delay": 0,
                        "emailTemplateId": "etp_ahlbc2yafFyu728H8",
                        "type": "linkedinSend",
                        "index": 1,
                        "sequenceId": "seq_rH5RD3fMkkt2gM3YC",
                        "sequenceStep": 0,
                        "message": "Hey {{firstName}}, \n\nwe\u0027re launching an event, a place where people can regularly meet, network, and learn from each other. We would love it if you could join us for a drink \u0026 chat next week. What do you say? \uD83D\uDE0A"
                      },
                      {
                        "_id": "stp_qsTl0LO6zkQQJQqsP",
                        "delay": 1,
                        "emailTemplateId": "etp_HFjUGtyDxIOxgZYcG",
                        "index": 2,
                        "sequenceId": "seq_rH5RD3fMkkt2gM3YC",
                        "sequenceStep": 1,
                        "subject": "{{firstName}}, do we count on you for the event?",
                        "message": "\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003EHey {{firstName}},\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003C/p\u003E\n\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003EDo you have any plans for Thursday, 7pm?\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003C/p\u003E\n\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003EWhat about spending the evening with cool people by our office?\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003C/p\u003E\n\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003EWe\u0027re launching an event, a place where people can regularly meet, network, and build connections that help them grow further \uD83D\uDE0A\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003C/p\u003E\n\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003EIt would be really nice if we could count on you for the event-\u0026nbsp;\u003Ca target=\u0022_blank\u0022 style=\u0022color: rgb(0, 123, 255); text-decoration: none; background-color: transparent; user-select: auto; box-sizing: border-box;\u0022 rel=\u0022noopener noreferrer\u0022 href=\u0022{{event_link_to_send}}\u0022\u003Ehere\u0027s your invite\u003C/a\u003E\u0026nbsp;\uD83D\uDD25\u003C/p\u003E\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003E\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003C/p\u003E\n\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003ECan you make it?\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003C/p\u003E\n\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003ESarah,\u003C/p\u003E\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003EHead of Marketing\u003C/p\u003E",
                        "type": "email"
                      },
                      {
                        "_id": "stp_pRcXzJDmOrBkFtNc3",
                        "delay": 1,
                        "emailTemplateId": "etp_3tjFTgdOMS6JL8U1g",
                        "index": 3,
                        "sequenceId": "seq_rH5RD3fMkkt2gM3YC",
                        "sequenceStep": 2,
                        "subject": "{{firstName}}, do we count on you for the event?",
                        "message": "\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003ESo, should I add you to the list of attendees?\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003C/p\u003E\n\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003EWe\u0027ll meet around 7pm, have a drink and exchange with entrepreneurs, marketers, and salespeople.\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003C/p\u003E\n\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003E\u003Ca target=\u0022_blank\u0022 style=\u0022color: rgb(0, 123, 255); text-decoration: none; background-color: transparent; user-select: auto; box-sizing: border-box;\u0022 rel=\u0022noopener noreferrer\u0022 href=\u0022{{event_link_to_send}}\u0022\u003EHere\u0027s the link\u003C/a\u003E if you want to join!\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003C/p\u003E\n\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003EWe would love to have you with us for this event!\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003E\u003Cbr style=\u0022box-sizing: border-box;\u0022\u003ESarah\u003C/p\u003E\u003Cp style=\u0022margin: 0px; box-sizing: border-box;\u0022\u003EHead of Marketing\u003C/p\u003E",
                        "type": "email"
                      }
                    ],
                    "level": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Possible errors: Bad team / Campaign has no sequence",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Campaign not found"
              }
            }
          },
          "405": {
            "description": "Method not allowed"
          }
        }
      },
      "parameters": [
        {
          "name": "campaignId",
          "in": "path",
          "description": "The unique identifier of the campaign",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "cam_A1B2C3D4E5F6G7H8I9"
        }
      ]
    },
    "/sequences/{sequenceId}/steps": {
      "post": {
        "tags": [
          "Sequences"
        ],
        "summary": "Add Step to Sequence",
        "operationId": "PostSequencesBySequenceIdSteps",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSequencesBySequenceIdStepsRequest"
              },
              "examples": {
                "Email Step": {
                  "value": {
                    "type": "email",
                    "subject": "{{firstName}}, quick question about {{companyName}}",
                    "message": "\u003Cp\u003EHi {{firstName}},\u003C/p\u003E\u003Cp\u003EI noticed {{companyName}} is working on improving customer engagement. Would you be interested in discussing how we can help?\u003C/p\u003E\u003Cp\u003EBest regards,\u003Cbr\u003E{{senderName}}\u003C/p\u003E",
                    "delay": 1,
                    "index": 2
                  }
                },
                "LinkedIn Invite": {
                  "value": {
                    "type": "linkedinInvite",
                    "message": "Hi {{firstName}}, I\u0027d love to connect and learn more about your work at {{companyName}}!",
                    "delay": 0
                  }
                },
                "LinkedIn Send": {
                  "value": {
                    "type": "linkedinSend",
                    "message": "Hey {{firstName}}, thanks for connecting! I wanted to reach out about...",
                    "delay": 2
                  }
                },
                "LinkedIn Send with Media": {
                  "value": {
                    "type": "linkedinSend",
                    "message": "Hey {{firstName}}, sharing a quick overview of what we\u0027re building.",
                    "images": [
                      "https://example.com/assets/overview.png"
                    ],
                    "videos": [
                      "https://example.com/assets/demo.mp4"
                    ],
                    "delay": 2
                  }
                },
                "Manual Task": {
                  "value": {
                    "type": "manual",
                    "title": "Call prospect",
                    "message": "Discuss their pain points and schedule a demo",
                    "delay": 1
                  }
                },
                "Phone Call": {
                  "value": {
                    "type": "phone",
                    "message": "Follow up on the email sent yesterday",
                    "delay": 1
                  }
                },
                "API Call": {
                  "value": {
                    "type": "api",
                    "method": "POST",
                    "url": "https://api.example.com/webhook",
                    "delay": 0
                  }
                },
                "LinkedIn Visit": {
                  "value": {
                    "type": "linkedinVisit",
                    "delay": 0
                  }
                },
                "Conditional Step": {
                  "value": {
                    "type": "conditional",
                    "conditionKey": "linkedinInviteAccepted",
                    "delayType": "waitUntil",
                    "delay": 1
                  }
                },
                "Send to Another Campaign": {
                  "value": {
                    "type": "sendToAnotherCampaign",
                    "campaignId": "cam_ABC123XYZ456",
                    "delay": 0
                  }
                },
                "WhatsApp Message": {
                  "value": {
                    "type": "whatsappMessage",
                    "message": "Hi {{firstName}}, following up on our conversation...",
                    "delay": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostSequencesBySequenceIdSteps200Response"
                },
                "example": {
                  "_id": "stp_V0JHmSpWiO0rxHUkz",
                  "type": "linkedinInvite",
                  "delay": 2,
                  "emailTemplateId": "etp_sw6csWaZNwnfdwGZ6",
                  "message": "Hello, I would like..."
                }
              }
            }
          },
          "400": {
            "description": "Possible errors: Bad team / Error from createStep",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          },
          "405": {
            "description": "Method not allowed"
          }
        }
      },
      "parameters": [
        {
          "name": "sequenceId",
          "in": "path",
          "description": "The unique identifier of the sequence",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "seq_lkCSKd32qSZZTe5Ru"
        }
      ]
    },
    "/sequences/{sequenceId}/steps/{stepId}": {
      "patch": {
        "tags": [
          "Sequences"
        ],
        "summary": "Update Sequence Step",
        "operationId": "PatchSequencesBySequenceIdStepsByStepId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSequencesBySequenceIdStepsByStepIdRequest"
              },
              "examples": {
                "Update Email Step": {
                  "value": {
                    "type": "email",
                    "subject": "{{firstName}}, following up on our conversation",
                    "message": "\u003Cp\u003EHi {{firstName}},\u003C/p\u003E\u003Cp\u003EJust wanted to circle back on our previous email. Have you had a chance to review it?\u003C/p\u003E\u003Cp\u003EBest,\u003Cbr\u003E{{senderName}}\u003C/p\u003E",
                    "delay": 2
                  }
                },
                "Update LinkedIn Invite": {
                  "value": {
                    "type": "linkedinInvite",
                    "message": "Hi {{firstName}}, I\u0027d love to connect with you to discuss potential collaboration opportunities!",
                    "delay": 0
                  }
                },
                "Update LinkedIn Send": {
                  "value": {
                    "type": "linkedinSend",
                    "message": "Thanks for accepting my invite, {{firstName}}! I wanted to reach out about...",
                    "altMessage": "Alternative message if the main one fails",
                    "delay": 3
                  }
                },
                "Update LinkedIn Send Media": {
                  "value": {
                    "type": "linkedinSend",
                    "images": [
                      "https://example.com/assets/overview.png"
                    ],
                    "videos": []
                  }
                },
                "Update Manual Task": {
                  "value": {
                    "type": "manual",
                    "title": "Schedule follow-up call",
                    "message": "Discuss pain points and propose next steps",
                    "delay": 2
                  }
                },
                "Update Phone Call": {
                  "value": {
                    "type": "phone",
                    "message": "Call to discuss the proposal sent via email",
                    "delay": 1
                  }
                },
                "Update API Call": {
                  "value": {
                    "type": "api",
                    "method": "PUT",
                    "url": "https://api.example.com/webhook/update",
                    "delay": 0
                  }
                },
                "Update LinkedIn Visit": {
                  "value": {
                    "type": "linkedinVisit",
                    "delay": 1
                  }
                },
                "Update Conditional Step": {
                  "value": {
                    "type": "conditional",
                    "conditionKey": "emailsOpened",
                    "delayType": "within",
                    "delay": 3
                  }
                },
                "Update Send to Another Campaign": {
                  "value": {
                    "type": "sendToAnotherCampaign",
                    "campaignId": "cam_XYZ789ABC123"
                  }
                },
                "Update WhatsApp Message": {
                  "value": {
                    "type": "whatsappMessage",
                    "message": "Hi {{firstName}}, just checking in to see if you received my previous messages.",
                    "delay": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchSequencesBySequenceIdStepsByStepId200Response"
                },
                "example": {
                  "_id": "stp_V0JHmSpWiO0rxHUkz",
                  "type": "linkedinInvite",
                  "delay": 0,
                  "emailTemplateId": "etp_HZvLoLNEwdJ8Vu0w7",
                  "message": "Hello, I want to..."
                }
              }
            }
          },
          "400": {
            "description": "Possible errors: Bad team / Error from updateStep",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          },
          "405": {
            "description": "Method not allowed"
          }
        }
      },
      "delete": {
        "tags": [
          "Sequences"
        ],
        "summary": "Delete Sequence Step",
        "operationId": "DeleteSequencesBySequenceIdStepsByStepId",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSequencesBySequenceIdStepsByStepId200Response"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "description": "Possible errors: Bad team / You cannot delete this step because the campaign is running",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          },
          "404": {
            "description": "Possible errors: Sequence not found / Step not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Sequence not found"
              }
            }
          },
          "405": {
            "description": "Method not allowed"
          }
        }
      },
      "parameters": [
        {
          "name": "sequenceId",
          "in": "path",
          "description": "The unique identifier of the sequence",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "seq_lkCSKd32qSZZTe5Ru"
        },
        {
          "name": "stepId",
          "in": "path",
          "description": "The unique identifier of the step",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "stp_V0JHmSpWiO0rxHUkz"
        }
      ]
    },
    "/schedules": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Get Many Schedules",
        "operationId": "GetSchedules",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of records to skip. Used if page is not provided.",
            "schema": {
              "type": "integer"
            },
            "example": "0"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records to return",
            "schema": {
              "type": "integer"
            },
            "example": "2"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field by which to sort the schedules. Currently, only \u0027createdAt\u0027 is supported.",
            "schema": {
              "$ref": "#/components/schemas/CreatedAtSortBy"
            },
            "example": "createdAt"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "The sort direction. Use \u0027desc\u0027 for descending order; any other value (or omission) will sort in ascending order.",
            "schema": {
              "$ref": "#/components/schemas/GetSchedulesSortOrderParameter"
            },
            "example": "desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleListResponse"
                },
                "example": {
                  "schedules": [
                    {
                      "_id": "skd_iQiNG7VinWIUkgLy1",
                      "name": "Custom Schedule",
                      "secondsToWait": 1200,
                      "timezone": "Europe/Paris",
                      "start": "09:00",
                      "end": "18:00",
                      "weekdays": [
                        1,
                        2,
                        3,
                        4
                      ],
                      "public": true,
                      "teamId": "tea_8QvkOiBfPdb2ZRhHi",
                      "createdBy": "usr_ahfFktBBHUIxbVG5P",
                      "createdAt": "2025-10-27T09:41:11.187Z"
                    },
                    {
                      "_id": "skd_u6cfmo0a7pgwfup9i",
                      "name": "Default schedule",
                      "secondsToWait": 1200,
                      "timezone": "Europe/Paris",
                      "start": "09:00",
                      "end": "18:00",
                      "weekdays": [
                        1,
                        2,
                        3,
                        4,
                        5
                      ],
                      "teamId": "tea_8QvkOiBfPdb2ZRhHi",
                      "createdBy": "usr_ahfFktBBHUIxbVG5P",
                      "createdAt": "2025-10-27T07:01:04.041Z"
                    },
                    {
                      "_id": "skd_nNGfP0HEkRYJLW4qA",
                      "name": "Default schedule",
                      "secondsToWait": 1200,
                      "timezone": "Asia/Seoul",
                      "start": "09:00",
                      "end": "18:00",
                      "weekdays": [
                        1,
                        2,
                        3,
                        4,
                        5
                      ],
                      "teamId": "tea_8QvkOiBfPdb2ZRhHi",
                      "createdBy": "usr_ahfFktBBHUIxbVG5P",
                      "createdAt": "2025-10-24T09:37:25.040Z"
                    },
                    {
                      "_id": "skd_kgykTULiqy42doHxY",
                      "name": "Default schedule",
                      "secondsToWait": 1200,
                      "timezone": "Asia/Seoul",
                      "start": "09:00",
                      "end": "18:00",
                      "weekdays": [
                        1,
                        2,
                        3,
                        4,
                        5
                      ],
                      "teamId": "tea_8QvkOiBfPdb2ZRhHi",
                      "createdBy": "usr_ahfFktBBHUIxbVG5P",
                      "createdAt": "2025-10-24T07:24:44.785Z"
                    },
                    {
                      "_id": "skd_SvcCMF1LTI3mgzmCW",
                      "name": "Default schedule",
                      "secondsToWait": 1200,
                      "timezone": "Europe/Sofia",
                      "start": "09:00",
                      "end": "18:00",
                      "weekdays": [
                        1,
                        2,
                        3,
                        4,
                        5
                      ],
                      "teamId": "tea_8QvkOiBfPdb2ZRhHi",
                      "createdBy": "usr_46he8cjrZ7s0IQi53",
                      "createdAt": "2025-10-20T13:13:34.680Z"
                    }
                  ],
                  "pagination": {
                    "totalRecords": 3039,
                    "currentPage": 1,
                    "nextPage": 2,
                    "totalPage": 608
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Schedules"
        ],
        "summary": "Create Schedule",
        "operationId": "PostSchedules",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSchedulesRequest"
              },
              "example": {
                "name": "Default schedule",
                "secondsToWait": 1200,
                "timezone": "Europe/Paris",
                "start": "09:00",
                "end": "18:00",
                "weekdays": [
                  1,
                  2,
                  3,
                  4,
                  5
                ],
                "public": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Schedule successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schedule"
                },
                "example": {
                  "_id": "skd_VK2e2ON1xErgrc8NC",
                  "name": "Default schedule",
                  "secondsToWait": 120,
                  "timezone": "Europe/Paris",
                  "start": "09:00",
                  "end": "18:00",
                  "weekdays": [
                    1,
                    2,
                    3,
                    4,
                    5
                  ],
                  "public": false,
                  "teamId": "tea_oQGvp4rfqA5RWLkqW",
                  "createdBy": "usr_AUGImxyH3VKF6eYEf",
                  "createdAt": "2025-01-17T15:17:59.207Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (invalid team or schedule data)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostSchedules400Response"
                },
                "example": {
                  "error": "BadRequest",
                  "message": "Bad team or invalid schedule fields"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostSchedules401Response"
                },
                "example": {
                  "error": "The authentication you supplied is incorrect"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/schedules/{scheduleId}": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Get Schedule",
        "operationId": "GetSchedulesByScheduleId",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schedule"
                },
                "example": {
                  "_id": "skd_iQiNG7VinWIUkgLy1",
                  "name": "Renamed Schedule",
                  "secondsToWait": 1000,
                  "timezone": "Europe/Berlin",
                  "start": "08:00",
                  "end": "18:00",
                  "weekdays": [
                    1,
                    2,
                    3,
                    2,
                    5
                  ],
                  "public": true,
                  "teamId": "tea_8QvkOiBfPdb2ZRhHi",
                  "createdBy": "usr_ahfFktBBHUIxbVG5P",
                  "createdAt": "2025-10-27T09:41:11.187Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad team",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Bad team"
              }
            }
          },
          "401": {
            "description": "The authentication you supplied is incorrect",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "The authentication you supplied is incorrect"
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "example": "Schedule not found"
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Schedules"
        ],
        "summary": "Update Schedule",
        "operationId": "PatchSchedulesByScheduleId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSchedulesByScheduleIdRequest"
              },
[...]
